<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.style.lib.media.video">
    <application
        android:allowBackup="true">
        <activity android:name=".PlayVideoActivity" />
        <activity android:name=".VideoRecordOldActivity"></activity>
        <activity android:name="com.style.lib.media.camera2video.CameraActivity"></activity>

    </application>

</manifest>
