<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wangzhe.photopicker"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true">

        <activity
            android:name=".PhotoPickerActivity"
        />

        <activity
            android:name=".PhotoPagerActivity"
        />

    </application>

</manifest>